$p: #07404d;
$s: #1a808c;

@media (max-width: 1600px) {
    .content__discover, 
    .content__title, 
    .content__subtitle, 
    .content__text, 
    .content__button {
        margin-left: 4rem;
    }
}

@media (max-width: 1500px) {
 
    .content__title {
        font-size: 12rem;
        margin-left: 0;
        text-align-last: right;
        margin-right: 2rem;
    }

    .content__title--right {
        margin-left: 2rem;
    }

    .header {
        width: 40%;
    }

}

@media (max-width: 1024px) {
    .content__title {
        font-size: 10rem;
    }
    
    .content__subtitle {
        font-size: 2rem;
    }

    .content__subtitle {
        margin-top: calc(20% - 2vw);
    }

    .header__navbar {
        font-size: 1rem;

        .header__navitem {
            margin: 0;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 425px) {
    .header {
        width: 50%;
    }

    .header__navbar {


        .header__navitem {
            font-size: 1rem;
        }
    }



    .content__discover {
        font-size: 2rem;
    }

    .content__title {
        font-size: 4rem;
    }

    .content__title--right {
        margin-top: 35vh;
    }

    .content__subtitle {
        font-size: 1.5rem;
    }

    .content__text {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .content__button {
        font-size: 1.5rem;    
    }

    .footer {
        width: 40%;
        padding: 1rem;

    }

    .logo__item {

        width: 2rem;

        &:first-child {
            width: 1rem;
        }
    }
}
