@media (max-width: 1600px) {
  .content__discover,
  .content__title,
  .content__subtitle,
  .content__text,
  .content__button {
    margin-left: 4vw;
  }
}

@media (max-width: 1500px) {
  .content__title {
    font-size: 12rem;
    margin-left: 0;
    text-align-last: right;
    margin-right: 2rem;
  }
  .content__title--right {
    margin-left: 2rem;
  }
  .header {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .content__title {
    font-size: 10rem;
  }
  .content__subtitle {
    font-size: 2rem;
  }
  .content__subtitle {
    margin-top: calc(20% - 2vw);
  }
  .content__text {
    font-size: 1rem;
  }
  .header__navbar {
    font-size: 1rem;
  }
  .header__navbar .header__navitem {
    margin: 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  .content__title {
    font-size: 10vw;
  }
  .content__text {
    margin-right: 4rem;
  }
  .header__navbar .header__navitem {
    font-size: 2vw;
  }
  .logo__item {
    width: 4vw;
  }
  .logo__item:first-child {
    width: 2vw;
  }
}

@media (max-width: 425px) {
  .header {
    width: 80%;
  }
  .header__navbar .header__navitem {
    font-size: 1rem;
  }
  .content__discover {
    font-size: 2rem;
  }
  .content__title {
    font-size: 10vw;
  }
  .content__title--right {
    margin-top: 35vh;
  }
  .content__subtitle {
    font-size: 1.5rem;
  }
  .content__text {
    font-size: 1rem;
    margin-right: 1rem;
    line-height: 1;
  }
  .content__button {
    font-size: 1rem;
  }
  .content__book {
    font-size: 1rem;
  }
  .footer {
    width: 40%;
    padding: 1rem;
  }
  .logo__item {
    width: 2rem;
  }
  .logo__item:first-child {
    width: 1rem;
  }
}
