$p: #07404d;
$s: #1a808c;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------- */

html {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-image: url(./img/bg.png);
    height: 100vh;
    width: 100%;

    background-size: cover;
}

.header {
	background-color: #fff;
	width: 30%;
	text-align: center;

	position: fixed;
	left: 50%;

	transform: translate(-50%);

	z-index: 10;

	padding: 0 2rem;

	border-radius: 0rem 0rem 2rem 2rem;
}

.header__logo {
	width: 50%;
	height: auto;
	margin-top: 0.5rem;

	&::after {
		content: "";
		display: block;
		width: 5rem;
		height: 0.5rem;
		background-color: #c4c4c2;
	}
}

.header__navbar {

	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	border-radius: 1rem;
	

	.header__navitem {
		background-color: #fff;
		border: none;
		font-size: 2rem;
		padding: 1rem 1rem;
		margin: 1rem;
		color: $p;
		font-family: 'Montserrat', sans-serif;

		font-weight: 700;

		transition: all .2s;

		&:hover {
			background-color: $p;
			color: white;
			cursor: pointer;
		}
	}
}

.content {
	height: 100%;
	display: flex;
	color: white;

}

.content__blur {
	background-color: rgba(0, 0, 0, 0.1);
	width: 50%;
	height: 100%;

	backdrop-filter: blur(4rem);

}

.content__wrapper {
}

.content__discover {
	font-size: 3rem;
	margin-top: 30vh;
	margin-left: 20rem;
	font-weight: 300;
}

.content__title {
	text-transform: uppercase;
	font-size: 17rem;
	margin-left: 20rem;


}

.content__title--right {
	margin: 45vh 5rem;
	color: rgba(255, 255, 255, 1);
	mix-blend-mode:screen;
}

.content__subtitle {
	text-transform: uppercase;
	font-size: 3rem;
	margin-left: 20rem;


	margin-top: 10rem;
	font-weight: 400;

}

.content__text {
	color: #525357;
	font-size: 1.4rem;
	line-height: 1.6;
	margin: 2rem 0;
	margin-right: 30%;
	margin-left: 20rem;


}

.content__button {
	background-color: transparent;
	border: none;
	color: white;
	margin-left: 20rem;


	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: all .2s;


	&:hover {
		color: $p;
		background-color: #fff;

		.content__arrow {
			background-color: $p;
		}
	}
}

.content__book {
	text-transform: uppercase;
	font-size: 2rem;

	margin-right: 1rem;
}

.content__arrow {
	background-color: white;
	border-radius: 50%;

	width: 1.2rem;
	height: 1.2rem;

	transition: all .2s;
}

.footer {
	position: fixed;
	width: 25%;
	height: auto;
	bottom: 0;
	left: 50%;

	background-color: rgba(255, 255, 255, 0.8);

	transform: translate(-50%);

	padding: 2rem 0;

	border-radius: 2rem 2rem 0rem 0rem;
}

.logos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.logo__item {
	width: 3rem;
	height: auto;

	&:first-child {
		width: 1.4rem;
	}

	&:hover {

	}
}